{erl_opts, [debug_info]}.

{deps, [
  {exmpp, ".*", {git, "git@github.com:Teknogrebo/exmpp.git", {branch, "rebar"}}},
  {jsone, ".*", {git, "git@github.com:sile/jsone.git", {tag, "1.8.0"}}},
  {hackney, ".*", {git, "git@github.com:benoitc/hackney.git", {tag, "1.18.1"}}}
]}.

{shell, [
    {config, "config/sys.config"},
    {apps, [xmppgpt]}
]}.

{dialyzer, [
    {warnings, [no_return, unmatched_returns, error_handling]}
]}.
