{erl_opts, [
    debug_info,
    {parse_transform, lager_transform}
]}.

{deps, [
  {exmpp, ".*", {git, "https://github.com/Teknogrebo/exmpp.git", {ref, "3823c462d06f0d5234eac7ced409bd625c3dc115"}}},
  {jsone, ".*", {git, "https://github.com/sile/jsone.git", {tag, "1.8.0"}}},
  {hackney, ".*", {git, "https://github.com/benoitc/hackney.git", {tag, "1.18.1"}}},
  {lager, ".*", {git, "https://github.com/erlang-lager/lager.git", {tag, "3.9.2"}}}
]}.

{plugins, [rebar3_lint]}.

{shell, [
    {config, "config/sys.config"},
    {apps, [xmppgpt]}
]}.

{dialyzer, [
    {warnings, [no_return, unmatched_returns, error_handling]}
]}.

{xref_checks, [undefined_function_calls, undefined_functions,
               locals_not_used, deprecated_function_calls,
               deprecated_functions]}.
